{% extends 'base.html.twig' %}

{% block body %}
    <h1>Modification Plat</h1>

    {{ form_start(edit_form) }}
        <br/>
        {{ form_widget(edit_form) }}
        <br/>
        <input type="submit" value="Edit" />
    {{ form_end(edit_form) }}
    <br/><br/>
    <ul>
        <li>
            <a href="{{ path('plat_index') }}">Retour à la liste</a>
        </li>
        <br/>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Supprimer">
            {{ form_end(delete_form) }}
        </li>
    </ul>
    <br/>
{% endblock %}
