{% extends 'base.html.twig' %}

{% block body %}
    <h1>Plat list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Ingredients</th>
                <th>Recette</th>
                <th>Photoplat</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for plat in plats %}
            <tr>
                <td><a href="{{ path('plat_show', { 'id': plat.id }) }}">{{ plat.id }}</a></td>
                <td>{{ plat.nom }}</td>
                <td>{{ plat.ingredients }}</td>
                <td>{{ plat.recette }}</td>
                <td>{{ plat.photoPlat }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('plat_show', { 'id': plat.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('plat_edit', { 'id': plat.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('plat_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
