{% extends 'base.html.twig' %}

{% block body %}
    <h1>Plat</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ plat.id }}</td>
            </tr>
            <tr>
                <th>Nom du plat</th>
                <td>{{ plat.nom }}</td>
            </tr>
            <tr>
                <th>Ingredients</th>
                <td>{{ plat.ingredients }}</td>
            </tr>
            <tr>
                <th>Recette</th>
                <td>{{ plat.recette }}</td>
            </tr>
            <tr>
                <th>Photo du plat</th>
                {#<td>{{ plat.photoPlat }}</td>#}
                <td><img class="image_plat" src="{{ asset('uploads/photosdeplats/')}}{{ plat.photoPlat }}"></td>
            </tr>
        </tbody>
    </table>
    <br/><br/>
    <ul>
        <li>
            <a href="{{ path('plat_index') }}">Retour à la liste</a>
        </li>
        <br/>
        <li>
            <a href="{{ path('plat_edit', { 'id': plat.id }) }}">Modification</a>
        </li>
        <br/>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Suppression">
            {{ form_end(delete_form) }}
        </li>
    </ul>
    <br/>
{% endblock %}
