    {% extends 'base.html.twig' %}

{% block body %}
    <div class="nav_header" xmlns="http://www.w3.org/1999/html">
        <nav>
            <ul>
                <li><a href="{{ path("homepage") }}" title="Télécharger">Accueil</a></li>
                <li><a href="{{ path("plat_index") }}" title="Télécharger">Plat</a></li>
                <li><a href="{{ path("soiree_index") }}" title="Télécharger">Soiree</a></li>
                <li><a href="{{ path("participation_index") }}" title="Télécharger">Participation</a></li>
            </ul>
        </nav>
    </div>
    <th>Nom</th>

    <h1>Black & White</h1>

    <div class="hexagone">
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,800italic,400,700,800' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Raleway:400,700,300,200,100,900' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Amatic+SC:400,700' rel='stylesheet' type='text/css'>

        <ul id="categories" class="clr">
            <li class="pusher"></li>
            <li>
                <div>
                    <img src="https://farm3.staticflickr.com/2878/10944255073_973d2cd25c.jpg" alt=""/>
                    <h1>This is a title a bit longer</h1>
                    <p>Some sample text about the article this hexagon leads to</p>
                </div>
            </li>
            <li>
                <div>
                    <img src="https://farm9.staticflickr.com/8461/8048823381_0fbc2d8efb.jpg" alt=""/>
                    <h1>This is a title</h1>
                    <p>Some sample text about the article this hexagon leads to</p>
                </div>
            </li>
            <li>
                <div>
                    <img src="https://farm5.staticflickr.com/4144/5053682635_b348b24698.jpg" alt=""/>
                    <h1>This is a title</h1>
                    <p>Some sample text about the article this hexagon leads to</p>
                </div>
            </li>
            <li>
                <div>
                    <img src="https://farm3.staticflickr.com/2827/10384422264_d9c7299146.jpg" alt=""/>
                    <h1>This is a title</h1>
                    <p>Some sample text about the article this hexagon leads to</p>
                </div>
            </li>
            <li class="pusher"></li>
            <li>
                <div>
                    <img src="https://farm7.staticflickr.com/6217/6216951796_e50778255c.jpg" alt=""/>
                    <h1>This is a title</h1>
                    <p>Some sample text about the article this hexagon leads to</p>
                </div>
            </li>

            <li>
                <div>
                    <img src="https://farm7.staticflickr.com/6083/6055581292_d94c2d90e3.jpg" alt=""/>
                    <h1>This is a title</h1>
                    <p>Some sample text about the article this hexagon leads to</p>
                </div>
            </li>
            <li class="pusher"></li>
            <li>
                <div>
                    <img src="https://farm7.staticflickr.com/6092/6227418584_d5883b0948.jpg" alt=""/>
                    <h1>This is a title</h1>
                    <p>Some sample text about the article this hexagon leads to</p>
                </div>
            </li>
            <li>
                <div>
                    <img src="https://farm8.staticflickr.com/7187/6895047173_d4b1a0d798.jpg" alt=""/>
                    <h1>This is a title</h1>
                    <p>Some sample text about the article this hexagon leads to</p>
                </div>
            </li><li>
                <div>
                    <img src="https://farm4.staticflickr.com/3766/12953056854_b8cdf14f21.jpg" alt=""/>
                    <h1>This is a title</h1>
                    <p>Some sample text about the article this hexagon leads to</p>
                </div>
            </li>
            <li>
                <div>
                    <img src="https://farm7.staticflickr.com/6139/5986939269_10721b8017.jpg" alt=""/>
                    <h1>This is a title</h1>
                    <p>Some sample text about the article this hexagon leads to</p>
                </div>
            </li>
            <li>
                <div>
                    <img src="https://farm4.staticflickr.com/3165/5733278274_2626612c70.jpg" alt=""/>
                    <h1>This is a title</h1>
                    <p>Some sample text about the article this hexagon leads to</p>
                </div>
            </li>
        </ul>
    </div>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Soirée</th>
                <th>Date</th>
                <th>Plat</th>
                <th>Nbre de participant(s)</th>
                <th>Participant(s)</th>
                <th>Photo</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for soiree in soirees %}
                <tr>
                    <td><a href="{{ path('soiree_show', { 'id': soiree.id }) }}">{{ soiree.id }}</a></td>
                    <td>{{ soiree.nom }}</td>
                    <td>{% if soiree.dateSoiree %}{{ soiree.dateSoiree|date('Y-m-d') }}{% endif %}</td>
                    {#{{ dump(soiree.platId.nom) }}#}
                    <td>{{ soiree.platId.nom }}</td>
                    <td>{{ soiree.nbparticipants }}</td>
                    <td>
                        {% for participants in soiree %}
                            {{ participants }}<br/>
                        {% endfor %}
                    </td>
                    {#<td>{{ soiree.photoSoiree }}</td>#}
                    <td><img width="200px" class="image_soiree" src="{{ asset('uploads/photosdesoirees/')}}{{ soiree.photoSoiree }}"></td>
                    <td>
                        <ul>
                            <li>
                                <a href="{{ path('soiree_show', { 'id': soiree.id }) }}">show</a>
                            </li>
                            <li>
                                <a href="{{ path('soiree_edit', { 'id': soiree.id }) }}">edit</a>
                            </li>
                        </ul>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('soiree_new') }}">Create a new entry</a>
        </li>
    </ul>
    <footer>
        <p>© 2016 Copyright Party Caroline | <strong><span class="diff">Mentions légales</span></strong></p>
    </footer>
{% endblock %}
