    {% extends 'base.html.twig' %}

{% block body %}
    <div class="nav_header" xmlns="http://www.w3.org/1999/html">
        <nav>
            <ul>
                <li><a href="{{ path("homepage") }}" title="Télécharger">Accueil</a></li>
                <li><a href="{{ path("plat_index") }}" title="Télécharger">Plat</a></li>
                <li><a href="{{ path("soiree_index") }}" title="Télécharger">Soiree</a></li>
                <li><a href="{{ path("participation_index") }}" title="Télécharger">Participation</a></li>
            </ul>
        </nav>
    </div>
    <th>Nom</th>

    <h1>Black & White</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Soirées</th>
                <th>Dates</th>
                <th>Photos</th>
                <th>Plats</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for soiree in soirees %}
            <tr>
                <td><a href="{{ path('soiree_show', { 'id': soiree.id }) }}">{{ soiree.id }}</a></td>
                <td>{{ soiree.nom }}</td>
                <td>{% if soiree.dateSoiree %}{{ soiree.dateSoiree|date('Y-m-d') }}{% endif %}</td>
                <td>{{ soiree.photoSoiree }}</td>
                <td>{{ soiree.platId.nom }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('soiree_show', { 'id': soiree.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('soiree_edit', { 'id': soiree.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
            <div class="hexagone">
                <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,800italic,400,700,800' rel='stylesheet' type='text/css'>
                <link href='http://fonts.googleapis.com/css?family=Raleway:400,700,300,200,100,900' rel='stylesheet' type='text/css'>
                <link href='http://fonts.googleapis.com/css?family=Amatic+SC:400,700' rel='stylesheet' type='text/css'>

                <ul id="categories" class="clr">
                    <li class="pusher"></li>
                    <li>
                        <div>
                            <img src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcS2628hKf2UGzjTlgoL2PQqZZx2cfPQTas68JoMT06jasKxn1yrBA" alt=""/>
                            <h1>Black & White</h1>
                            <p>Some sample text about the article this hexagon leads to</p>
                        </div>
                    </li>
                    <li>
                        <div>
                            <img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcRW3UCuVWmeITPsguFOcRvdssrAk1JGhZxsoqClHOo2BO4ujYU5gA" alt=""/>
                            <h1>Black & White</h1>
                            <p>Some sample text about the article this hexagon leads to</p>
                        </div>
                    </li>
                    <li>
                        <div>
                            <img src="https://farm5.staticflickr.com/4144/5053682635_b348b24698.jpg" alt=""/>
                            <h1>Black & Whitee</h1>
                            <p>Some sample text about the article this hexagon leads to</p>
                        </div>
                    </li>
                    <li>
                        <div>
                            <img src="https://farm3.staticflickr.com/2827/10384422264_d9c7299146.jpg" alt=""/>
                            <h1>Black & White</h1>
                            <p>Some sample text about the article this hexagon leads to</p>
                        </div>
                    </li>
                    <li class="pusher"></li>
                    <li>
                        <div>
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQhY6C4i_h7FpVoVA--T5OZQeX6xXy973LkgYMf9hrwZb-8aWmjDQ" alt=""/>
                            <h1>Black & White</h1>
                            <p>Some sample text about the article this hexagon leads to</p>
                        </div>
                    </li>

                    <li>
                        <div>
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSTcJc83ywnNtWSsyaA9nZ3xDWq08caGOSEXNC00AmbYQ6QPUUu" alt=""/>
                            <h1>Black & White</h1>
                            <p>Some sample text about the article this hexagon leads to</p>
                        </div>
                    </li>
                    <li class="pusher"></li>
                    <li>
                        <div>
                            <img src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcREulBlyhMS4ZG2GYsTfMZU0TJ3EwtR7lnXFvKl7JQXdQCyP0wa" alt=""/>
                            <h1>Black & White</h1>
                            <p>Some sample text about the article this hexagon leads to</p>
                        </div>
                    </li>
                    <li>
                        <div>
                            <img src="https://farm8.staticflickr.com/7187/6895047173_d4b1a0d798.jpg" alt=""/>
                            <h1>Black & White</h1>
                            <p>Some sample text about the article this hexagon leads to</p>
                        </div>
                    </li><li>
                        <div>
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRF0KfKo83wKg_hpZehgp45isKRXTTKC4ly2GJfsxykp4LrvFl1SQ" alt=""/>
                            <h1>Black & White</h1>
                            <p>Some sample text about the article this hexagon leads to</p>
                        </div>
                    </li>
                    <li>
                        <div>
                            <img src="https://farm7.staticflickr.com/6139/5986939269_10721b8017.jpg" alt=""/>
                            <h1>Black & White</h1>
                            <p>Some sample text about the article this hexagon leads to</p>
                        </div>
                    </li>
                </ul>
            </div>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('soiree_new') }}">Create a new entry</a>
        </li>
    </ul>
    <footer>
        <p>© 2016 Copyright Party Caroline | <strong><span class="diff">Mentions légales</span></strong></p>
    </footer>
{% endblock %}
