{% extends 'base.html.twig' %}

{% block body %}

    <!-- Début barnav principale -->





    <!-- Fin barnav principale -->

    <!-- Début du parralax avec texte et image -->

    <header >


        <div class="nav_header" xmlns="http://www.w3.org/1999/html">
            <nav>
                <ul>
                    <li><a href="{{ path("homepage") }}" title="Télécharger">Accueil</a></li>
                    <li><a href="{{ path("plat_index") }}" title="Télécharger">Plat</a></li>
                    <li><a href="{{ path("soiree_index") }}" title="Télécharger">Soiree</a></li>
                    <li><a href="{{ path("participation_index") }}" title="Télécharger">Participation</a></li>
                    {% if is_granted("IS_AUTHENTICATED_FULLY") %}
                        <li><a href="{{ path ('fos_user_security_logout') }}">Logout</a></li>
                    {% else %}
                        <li><a href="{{ path("user_login") }}">Connexion</a></li>
                    {% endif %}
                </ul>
            </nav>
        </div>

        <!-- Debut du slogan milieu header -->

        <hgroup class="article__headline7">
            <h2 style="opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);" class="headline__secondary">
                <span class="first-letter">W</span>elcome</h2>
            <h1 style="margin-right: -0.1em; letter-spacing: 0.2em; opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);" class="headline__primary">Caroline</h1>
            <div style="opacity: 1;" class="headline__description">
                <div style="width: 287px;" class="pixcode  pixcode--separator  separator separator--line-flower separator_color--light">
                    <div style="width: 42%; opacity: 1;" class="line  line--left"></div>
                    <div style="width: 42%; opacity: 1;" class="line  line--right"></div>
                    <div style="opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);" class="star">✻</div>
                    <div class="arrows"><div style="opacity: 1;" class="arrow arrow--left"></div>
                        <div style="opacity: 1;" class="arrow arrow--right">
                        </div>
                    </div>
                </div>
                <h5 style="opacity: 1; transform: translate3d(0px, 0px, 0px);">Ready To Be Opened</h5>
            </div>
        </hgroup>


        <div style="opacity: 0.7; transform: matrix(1, 0, 0, 1, 0, 0);" class="down-arrow down-arrow--transparent">
            <div class="arrow">
            </div>
        </div>



        <!-- Fin de l'animation de txt dans header -->
    </header>

        <!-- Début des effets parralax -->
    <div class="row_block">
        <div class="col-md-6 block 1">
            <section class="article__content">
                <section class="page__content  js-post-gallery  cf">
                    <div class="pixcode  pixcode--grid  grid  ">
                        <div class="grid__item six-twelfths palm-one-whole island">
                            <hgroup class="pixcode  pixcode--heading article__headline">
                                <h2 class="headline__secondary2"><span class="first-letter">D</span>iscover</h2>
                                <h1 class="headline__primary">Our Story</h1>
                            </hgroup>
                            <div class="pixcode  pixcode--separator  separator separator--flower separator_color--color">✻</div>
                                <p style="text-align: center;">Caroline is a restaurant, bar and coffee roastery located on a busy corner site in Farringdon’s Exmouth Market. With glazed frontage on two sides of the building, overlooking the market and a bustling London intersection.</p>
                                <p style="text-align: center;">
                        </div>
                    </div>
                </section>
            </section>
        </div>
                        <div class="col-md-6 block2">
                            <div class="grid__item six-twelfths palm-one-whole ">
                                <img class="wp-image-10" src="https://demos-pgm.netdna-ssl.com/demos/rosa/wp-content/uploads/2014/05/cheeries.jpg" alt="cheeries" height="480" width="660">
                            </div>
                        </div>
                    </div>


    <section class="fullwidth">
        <div class="paralax1" data-center="background-position: 50% 0px;"
             data-top-bottom="background-position: 50% -200px;
             " data-bottom-top="background-position: 50% 100px;">
        </div>
    </section>

<div class="col-md-6 photos">
    <section class="article__content">
        <div class="container">
            <section class="page__content  js-post-gallery  cf">
                <div class="pixcode  pixcode--grid  grid  ">


                    <a data-title="menu-thumb-6" data-alt="" href="https://demos-pgm.netdna-ssl.com/demos/rosa/wp-content/uploads/2014/05/menu-thumb-6.jpg">
                        <img class="image1" src="https://demos-pgm.netdna-ssl.com/demos/rosa/wp-content/uploads/2014/05/menu-thumb-6-300x218.jpg" class="attachment-medium" alt="menu-thumb-6" height="218" width="300"></a>

                </figure>
                <figure class="gallery-item">

                        <a data-title="menu-thumb-2" data-alt="" href="https://demos-pgm.netdna-ssl.com/demos/rosa/wp-content/uploads/2014/05/menu-thumb-2.jpg">
                            <img class="image2" src="https://demos-pgm.netdna-ssl.com/demos/rosa/wp-content/uploads/2014/05/menu-thumb-2-300x218.jpg" class="attachment-medium" alt="menu-thumb-2" height="218" width="300"></a>

                </figure>
                <figure class="gallery-item">

                        <a data-title="menu-thumb-1" data-alt="" href="https://demos-pgm.netdna-ssl.com/demos/rosa/wp-content/uploads/2014/05/menu-thumb-1.jpg">
                            <img class="image3" src="https://demos-pgm.netdna-ssl.com/demos/rosa/wp-content/uploads/2014/05/menu-thumb-1-300x218.jpg" class="attachment-medium" alt="menu-thumb-1" height="218" width="300">
                        </a>

                </figure>
                <figure class="gallery-item">

                        <a data-title="menu-thumb-4" data-alt="" href="https://demos-pgm.netdna-ssl.com/demos/rosa/wp-content/uploads/2014/05/menu-thumb-4.jpg">
                            <img class="image4" src="https://demos-pgm.netdna-ssl.com/demos/rosa/wp-content/uploads/2014/05/menu-thumb-4-300x218.jpg" class="attachment-medium" alt="menu-thumb-4" height="218" width="300"></a>

                </figure>
            </div>
        </div>
    </div>
                <div class="col-md-6 text">
                    <div class="grid__item six-twelfths palm-one-whole island">
                        <hgroup class="pixcode  pixcode--heading article__headline">
                            <h2 class="headline__secondary1">
                                <span class="first-letter">D</span>iscover</h2>
                            <h1 class="headline__primary">Menu</h1>
                        </hgroup>
                        <div class="pixcode  pixcode--separator  separator separator--flower separator_color--dark">✻</div>
                        <p style="text-align: center;">For those with pure food indulgence in mind, come next door and sate your desires with our ever changing internationally and seasonally inspired small plates. &nbsp;We love food, lots of different food, just like you.</p>
                        <p style="text-align: center;">
                        </p>
                    </div>
                </div>
            </section>
        </div>
    </section>

    <section class="fullwidth">
        <div class="paralax2" data-center="background-position: 50% 0px;"
             data-top-bottom="background-position: 50% -200px;"
             data-bottom-top="background-position: 50% 100px;">
    </section>


        <div class="row">
            <div class="col-md-6 culinary">


                <h2 class="headline__secondary"><span class="first-letter">C</span>ulinary</h2>
                <h1 class="headline__primary">Delight</h1>

            <div class="pixcode  pixcode--separator  separator separator--flower separator_color--dark">✻</div>
            <p style="text-align: center;">We promise an intimate and relaxed dining experience that offers something different to local and foreign patrons and ensures you enjoy a memorable food experience every time.
            </p>


                </div>


            <div class="col-md-6 picture">



                    <img class="wp-image-34" src="https://demos-pgm.netdna-ssl.com/demos/rosa/wp-content/uploads/2014/05/bacon-1-682x1024.jpg" alt="bacon-1" >



                    <img class="wp-image-35" src="https://demos-pgm.netdna-ssl.com/demos/rosa/wp-content/uploads/2014/05/bacon-2-682x1024.jpg" alt="bacon-2" >
            </div>
        </div>


    <!-- Fin des effets parralax -->

    <!-- Appel de script pour le parralax -->
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="http://arielbeninca.com/Storage/skrollr.min.js"></script>
    <script type="text/javascript">var s=skrollr.init({forceHeight:false});</script>
    <script type="text/javascript" src="{{ asset("js/jquery.min.js") }}"></script>
    <script type="text/javascript" src="js/main.js"></script>
    <!-- Fin appel de script parralax -->

    <!-- Début footer -->
    <footer>
        <p>© 2016 Copyright Party Caroline | <strong><span class="diff">Mentions légales</span></strong></p>
    </footer>
    <!-- Fin footer -->
{% endblock %}
