{% extends 'base.html.twig' %}

{% block body %}
    <div class="nav_header" xmlns="http://www.w3.org/1999/html">
        <nav>
            <ul class="black">
                <li><a href="{{ path("homepage") }}" title="Télécharger">Accueil</a></li>
                <li><a href="{{ path("plat_index") }}" title="Télécharger">Plat</a></li>
                <li><a href="{{ path("soiree_index") }}" title="Télécharger">Soiree</a></li>
                <li><a href="{{ path("participation_index") }}" title="Télécharger">Participation</a></li>
            </ul>
        </nav>
    </div>

    <h1>Ajouter une participation à une soirée</h1>

    {{ form_start(form) }}
        <br/>
        {{ form_widget(form) }}
        <br/>
        <input type="submit" value="Créer" />
    {{ form_end(form) }}
    <br/><br/>
    <ul>
        <li>
            <a href="{{ path('participation_index') }}">Retour à la liste</a>
        </li>
    </ul>
{% endblock %}
