{% extends 'base.html.twig' %}

{% block body %}
    <h1>Participation</h1>

    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Participant</th>
                <th>Soirée</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ participation.id }}</td>
                <td>{{ participation.participant.username }}</td>
                <td>{{ participation.soiree.nom }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('participation_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('participation_edit', { 'id': participation.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
