{% extends 'base.html.twig' %}

{% block body %}
    <div class="nav_header" xmlns="http://www.w3.org/1999/html">
        <nav>
            <ul class="black">
                <li><a href="{{ path("homepage") }}" title="Télécharger">Accueil</a></li>
                <li><a href="{{ path("plat_index") }}" title="Télécharger">Plat</a></li>
                <li><a href="{{ path("soiree_index") }}" title="Télécharger">Soiree</a></li>
                <li><a href="{{ path("participation_index") }}" title="Télécharger">Participation</a></li>
            </ul>
        </nav>
    </div>

    <h1>Participation</h1>

    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Soirée</th>
                <th>Participant</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ participation.id }}</td>
                <td>{{ participation.soiree.nom }}</td>
                <td>{{ participation.participant.username }}</td>
            </tr>
        </tbody>
    </table>
    <br/>
    <ul>
        <li>
            {{ form_start(delete_form) }}
            <input type="submit" value="Supprimer">
            {{ form_end(delete_form) }}
        </li>
        <br/>
        <li>
            <a href="{{ path('participation_new') }}">Ajouter une participation</a>
        </li>
        <br/>
        <li>
            <a href="{{ path('participation_index') }}">Retour à la liste</a>
        </li>
        <br/>
        <li>
            <a href="{{ path('participation_edit', { 'id': participation.id }) }}">Modifier</a>
        </li>
    </ul>
{% endblock %}
