{% trans_default_domain 'FOSUserBundle' %}


<div class="nav_header" xmlns="http://www.w3.org/1999/html">
    <nav>
        <ul class="register">
            <li><a href="{{ path("homepage") }}" >Accueil</a></li>
            <li><a href="{{ path("plat_index") }}" >Plat</a></li>
            <li><a href="{{ path("soiree_index") }}" >Soiree</a></li>
            <li><a href="{{ path("participation_index") }}">Participation</a></li>
        </ul>
    </nav>
</div>


<div class="wrapper">




    {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
    {{ form_widget(form) }}
    <div>
        <input type="submit" value="{{ 'registration.submit'|trans }}" />
    </div>
</div>
{{ form_end(form) }}
